*~
cache/*
.cache/*
straight/
auto-save-list/
undohist/
session.*
elpa/
history
ido.last
recentf
places
network-security.data
smex-items
transient/
server/
persp-confs/
^\#*
projectile.cache
projectile-bookmarks.eld
migemo-pattern
*.sqlite
bookmarks
*.cache
.yas-compiled-snippets.el
var/
.lsp-session-v1
!.gitignore
!.gitkeep
eshell/
woman-cache
prescient-save.el
