*~
cache/*
auto-save-list/
undohist/
session.*
elpa/
history
ido.last
recentf
places
network-security.data
smex-items
transient/
straight/
server/
persp-confs/
projectile.cache
projectile-bookmarks.eld
migemo-pattern
*.sqlite
bookmarks
!.gitignore
!.gitkeep
