*~
cache/*
.cache/*
straight/
auto-save-list/
persp-state-file
undohist/
session.*
elpa/
.logs/
history
ido.last
recentf
.log/
places
network-security.data
smex-items
transient/
server/
persp-confs/
^\#*
projectile.cache
projectile-bookmarks.eld
migemo-pattern
*.sqlite
bookmarks
*.cache
.yas-compiled-snippets.el
var/
.lsp-session-v1
!.gitkeep
eshell/
woman-cache
prescient-save.el
